include *.txt *.md *.ini *.conf *.yaml *.cnf

recursive-include requirements *.txt  *.ini *.conf *.yaml *.cnf
recursive-include config *.txt *.ini *.conf *.yaml *.cnf
recursive-include etc *.txt *.py *.conf



