include *.rst *.md  *.md *.ini *.conf *.yaml *.cnf *.cfg
recursive-include requirements *.txt  *.ini *.conf *.yaml *.cnf *.cfg
recursive-include config *.txt *.ini *.conf *.yaml *.cnf *.cfg
recursive-include etc *.rst *.md *.txt *.py *.conf *.cfg



