# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://repo.continuum.io/pkgs/free/linux-64/cairo-1.12.18-6.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/cycler-0.9.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/decorator-4.0.6-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/dill-0.2.4-py27_0.tar.bz2
https://conda.anaconda.org/danielballan/linux-64/ffmpeg-2.2.4-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/fontconfig-2.11.1-5.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/freetype-2.5.5-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/jbig-2.1-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/jpeg-8d-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libgfortran-1.0-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libpng-1.6.17-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libtiff-4.0.6-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libxml2-2.9.2-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/matplotlib-1.5.0-np110py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/networkx-1.10-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/numpy-1.10.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/openblas-0.2.14-3.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/openssl-1.0.2d-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pillow-3.0.0-py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pip-7.1.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pixman-0.32.6-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/py2cairo-1.10.0-py27_2.tar.bz2
https://conda.anaconda.org/danielballan/linux-64/pyav-v0.2.3.post0-0_g8dc4be2_py27.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pyparsing-2.0.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pyqt-4.11.4-py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/python-2.7.11-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/python-dateutil-2.4.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pytz-2015.7-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/qt-4.8.7-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/readline-6.2-2.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/scikit-image-0.11.3-np110py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/scipy-0.16.1-np110py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/setuptools-19.1.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/sip-4.16.9-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/six-1.10.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/sqlite-3.8.4.1-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/tk-8.5.18-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/wheel-0.26.0-py27_1.tar.bz2
https://conda.anaconda.org/danielballan/linux-64/x264-20131217-2.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/xz-5.0.5-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/zlib-1.2.8-0.tar.bz2
