# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://repo.continuum.io/pkgs/free/linux-64/cairo-1.12.18-6.tar.bz2
https://conda.anaconda.org/w495/linux-64/colorlog-2.7.0-py27_0.tar.bz2
https://conda.anaconda.org/w495/linux-64/configargparse-0.9.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/cycler-0.10.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/cython-0.24.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/decorator-4.0.10-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/dill-0.2.5-py27_0.tar.bz2
https://conda.anaconda.org/soft-matter/linux-64/ffmpeg-2.2.4-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/fontconfig-2.11.1-6.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/freetype-2.5.5-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/future-0.15.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/futures-3.0.5-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/gevent-1.1.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/glib-2.43.0-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/greenlet-0.4.10-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/harfbuzz-0.9.39-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/jbig-2.1-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/jpeg-8d-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libffi-3.2.1-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libgfortran-3.0.0-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libpng-1.6.22-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libtiff-4.0.6-2.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libxml2-2.9.2-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/matplotlib-1.5.1-np111py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/mkl-11.3.3-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/networkx-1.11-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/numpy-1.11.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/openblas-0.2.14-4.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/openssl-1.0.2h-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pango-1.39.0-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/path.py-8.2.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pathlib2-2.1.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pickleshare-0.7.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pillow-3.3.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pip-8.1.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pixman-0.32.6-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/py2cairo-1.10.0-py27_2.tar.bz2
https://conda.anaconda.org/soft-matter/linux-64/pyav-v0.2.3.post0-0_g8dc4be2_py27.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pycairo-1.10.0-py27_0.tar.bz2
https://conda.anaconda.org/w495/linux-64/pymp-pypi-0.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pyparsing-2.1.4-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pyqt-4.11.4-py27_4.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/python-2.7.12-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/python-dateutil-2.5.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pytz-2016.6.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/qt-4.8.7-4.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/readline-6.2-2.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/scikit-image-0.12.3-np111py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/scikit-learn-0.17.1-np111py27_2.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/scipy-0.18.0-np111py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/setuptools-23.0.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/sip-4.18-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/six-1.10.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/sqlite-3.13.0-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/tk-8.5.18-0.tar.bz2
https://conda.anaconda.org/w495/linux-64/typing-3.5.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/wheel-0.29.0-py27_0.tar.bz2
https://conda.anaconda.org/soft-matter/linux-64/x264-20131217-2.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/xz-5.2.2-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/zlib-1.2.8-3.tar.bz2
